<!DOCTYPE HTML>
<html>
	<head>
		<title>Linear by TEMPLATED</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
		<link href="//fonts.googleapis.com/css?family=Roboto:400,100,300,700,500,900" rel="stylesheet" type="text/css">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-panels.min.js"></script>
		<script src="js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel-noscript.css">
			<link rel="stylesheet" href="css/style.css">
			<link rel="stylesheet" href="css/style-desktop.css">
		</noscript>

		<style>

			h1 {
				font-family: 'Playfair Display', sans-serif;
				text-align: left;
				color: #FF9700;
				/* 다른 스타일 속성 추가 가능 */
			}
		</style>
	</head>
	<body class="homepage">

		<!-- Header -->
		<div id="header">
			<div id="nav-wrapper">
				<!--		banner		-->
				<div class="col-lg-3 col-md-3">
					<div class="header__banner">
						<a href="main"><img id="img1" src="img/churchLogo.png" alt=""></a>
						<a href="main"><img id="img2" src="img/churchName.png" alt=""></a>
					</div>
				</div>
				<!-- Nav -->
				<nav id="nav">
					<ul>
						<li class="active"><a href="index.html">교회 소개</a></li>
						<li><a href="left-sidebar.html">설교</a></li>
						<li><a href="right-sidebar.html">다음 세대</a></li>
						<li><a href="no-sidebar.html">교회 소식</a></li>
					</ul>
				</nav>
			</div>
			<div class="container">
				<!-- Logo -->
				<div id="logo">
					<h1>Welcome to <br> Hasondle <br>Church</h1>
				</div>
			</div>
		</div>

		<!-- Featured -->
		<!-- TODO : Featured 완성하기. -->
		<div id="featured1">
				<header><h2>Header featured Area</h2></header>

				<div class="featured__area">
					<img id="pastor_img" src="img/pastor.png" alt="" />
				</div>
			<b>asdadsasdas</b>>

		</div>
		<div id="featured2">
			<header><h2>Header featured Area</h2></header>

			<div class="featured__area">
				<img id="fa_img" src="img/pastor.png" alt="" />
			</div>
			<b>asdadsasdas</b>>

		</div>

		<!-- Main -->
		<div id="main">
			<div id="content" class="container">
				<div class="row">
					<section class="6u">
						<a href="#" class="image full"><img src="images/pic01.jpg" alt="" width="574" height="200"></a>
						<header><h2>Mauris vulputate dolor</h2></header>
						<p>In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat. Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum.</p>
					</section>
					<section class="6u">
						<a href="#" class="image full"><img src="images/pic02.jpg" alt="" width="574" height="200"></a>
						<header><h2>Mauris vulputate dolor</h2></header>
						<p>In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat. Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum.</p>
					</section>
				</div>
				<div class="row">
					<section class="6u">
						<a href="#" class="image full"><img src="images/pic03.jpg" alt="" width="574" height="200"></a>
						<header><h2>Mauris vulputate dolor</h2></header>
						<p>In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat. Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum.</p>
					</section>
					<section class="6u">
						<a href="#" class="image full"><img src="images/pic04.jpg" alt="" width="574" height="200"></a>
						<header><h2>Mauris vulputate dolor</h2></header>
						<p>In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat. Donec leo, vivamus fermentum nibh
					</section>
				</div>
			</div>
		</div>

		<!-- Tweet -->
		<div id="tweet">
			<div class="container">
				<section>
					<blockquote>“In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat.”</blockquote>
				</section>
			</div>
		</div>

		<!-- Footer -->
		<div id="footer">
			<div class="container">
				<section>
					<header><h2>Get in touch</h2>
						<span class="byline">Integer sit amet pede vel arcu aliquet pretium</span>
					</header>
					<ul class="contact">
						<li><a href="#" class="fa fa-twitter"><span>Twitter</span></a></li>
						<li class="active"><a href="#" class="fa fa-facebook"><span>Facebook</span></a></li>
						<li><a href="#" class="fa fa-dribbble"><span>Pinterest</span></a></li>
						<li><a href="#" class="fa fa-tumblr"><span>Google+</span></a></li>
					</ul>
				</section>
			</div>
		</div>
	</body>

</html>
